click==7.1.2
coverage==5.5
importlib-metadata==3.10.0
keyring==23.0.1
mysqlclient==2.0.3
psutil==5.8.0
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.2.3.0.2
python-dotenv==0.16.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
ruamel.yaml==0.17.2
ruamel.yaml.clib==0.2.2
zipp==3.4.1
